* {
    margin: 0;
    padding: 0;
}

/* html {
    font-size: 62.5%;
} */

.hero-section {
    display: flex;
    height: 60rem;
    border: 1px solid black;
    background-image: url("img/hero-section.webp");
    background-size: cover;
    background-position: center;
}

.tittle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 12rem;
    width: 30rem;
    border: 1px solid gray;
}

.tittle h1 {
    font-size: 4.8rem;

}