* {
    margin: 0;
    padding: 0;
}

/* html {
    font-size: 62.5%;
} */

.hero-section {
    display: flex;
    height: 600px;
    background-image: url("img/hero-section.webp");
    background-size: cover;
    background-position: center;
}

.tittle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 148px;
    width:300px;
    /* border: 1px solid gray; */
}

.tittle h1 {
    font-size: 48px;
    font-weight: 550;
}

.tittle p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 8px;
}

.tittle button {
    font-weight: 500;
    color: aliceblue;
    background-color: rgba(92, 2, 171, 0.879);
    padding: 10px 0;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
}