
/* Plans&Pricing section styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sub-main{
    max-width: 1200px;
    margin: auto;
}

section.head-title{
    text-align: center;
    padding: 4rem 2rem;
    
}
.head-title h1{
    margin-bottom: 1rem;
}
.head-title p{
    font-size: 1.2rem;
    font-weight: 200;
    color: #555;
}



.plans-pricing-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
}
/* body{
    height: 1000vh;
} */

.plans-pricing-card .card{
    border:1px solid #cdcdcd;
    border-radius: 10px;
    flex: 1 1 500px;
}

.head-card1{
    background-color: rgb(231, 231, 231);
    border-radius: 10px 10px 0 0;
    border-top: 10px solid hsl(275, 75%, 55%);
    padding: 1rem 1.2rem;

}
.head-card2{
    background-color: rgb(231, 231, 231);
    border-radius: 10px 10px 0 0;
    border-top: 10px solid hsl(257, 78%, 57%);
    padding: 1rem 1.2rem;

}
.head-card3{
    background-color: rgb(231, 231, 231);
    border-radius: 10px 10px 0 0;
    border-top: 10px solid hsl(257, 78%, 57%);
    padding: 1rem 1.2rem;
}
.head-card h3{
    color: rgb(66, 62, 62);
}
.head-card p{
    font-weight: 200;
    font-size: 12px;
    margin-top: 5px;
}
.head-card .team-join{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.body-card{
    padding: 2.5rem 1.2rem;
}
.body-card p{
    font-weight:100;
    font-size: medium;
}
.body-card .p-small{
    font-size: 11px;
    font-weight: 400;
    margin-top: 0.8rem;
}
.body-card button{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: hsl(263, 63%, 49%);
    color: white;
    font-size: 1rem;
    cursor: pointer;

}
.body-card button:hover{
    background-color: hsl(275, 75%, 55%);
}

.footer-card{
    display: flex;
    flex-direction: column;
    padding-left: 1.2rem;
    margin-bottom: 2rem;
}
.footer-card div{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
}







.button-section{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    align-items: center;
}
.button-section button{
    display: flex;
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    color: hsl(257, 78%, 57%);
    background: none;
    outline: none;
    margin-top: 3rem;
}
.button-section button:hover{
    background-color: rgba(161, 125, 229, 0.386);
}




.block-companies{
    background-color: rgba(128, 128, 128, 0.121);
    text-align: center;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}
.block-companies-logo{
    display:flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.block-fetch{
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 99;


}

.block-logo{
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}

.block-logo img{
    cursor: pointer;
    /* object-fit: cover; */
    width:  auto;
}

/* hidden by default */

.info-card{
    position: absolute;
    bottom: 100%; /* show card above the image */
    right: 0;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: 0.3s;
}


/* show when hover */
.block-logo:hover .info-card{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    
}

/* ############## Section Intro############### */

.max-width{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.block-intro h1{
    font-weight: 500;
    margin-bottom: 2rem;
}
.container-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;

}

.card-intro{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.451);
    padding: 1.6rem 1.5rem;
    flex: 0 1 300px;
    max-width: 400px;
    justify-content: space-between;
    border-radius: 10px;
    height: 300px;
}

/* .card-intro p{
    font-weight: 300;
    font-size: 13px;
    line-height: 1.3rem;
} */


.pic-intro p{
    font-weight: 100;
    font-size: 14px;
    color: #66666687;
}
.ling-mor-intro a{ 
    color: rgb(137, 43, 226);
    font-weight: 100;
    font-size: 14px;
}
/* 
.block-intro-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
} */

.pic-intro .pic-intro-img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.pic-intro-quote{
    display: flex;
    align-items: center;
    gap: 10px;
}
.name-D{
    font-weight: bold;
    color: black !important;
}



.head-card-intro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}













/* ############section feature plane############ */
.block-plan-feature{
    max-width:1200px;
    margin: auto;
    /* background-color: firebrick; */
}

.box-plan-feature-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 33;
}
.block-plan-feature h1{
    margin-bottom: 30px;
}
.box-plan-feature-card .head-card1{
    text-align: center;
}
.card-feature{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 0px;
}
.bt-feature{
    width: 100%;
    margin-bottom: 40px;
}
.bt-feature button{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-radius: 5px;
    background-color: hsl(263, 63%, 49%);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.team-join{

    width: 100%;
}
.team-join .can-join{
    display: flex;
    align-items: center;
    justify-content: center;

}
.can-join p{
    font-weight: 200;
    font-size: 13px;
}
.card-feature{
    display: flex;
    align-items: start;
    width: 280px;
    gap: 20px;
}
.space-feature{
    display: flex;
    justify-content: center;
}
.card-feature .icon-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-feature{
    width: 99.99%;
}
.footer-feature p{
    font-weight: 600;
    background-color: rgb(231, 231, 231);
    padding: 2rem;
}



.button-hover button{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: hsl(263, 63%, 49%);
    color: white;
    font-size: 1rem;
    cursor: pointer;

}
.button-hover button:hover{
    background-color: hsl(275, 75%, 55%);
}


.table{
    padding: 0px;
}
table {
    width: 100%;
    table-layout: fixed;
}

.compare-table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
}
/* .compare-table th, */
.compare-table td {
    padding: 18px 10px;
    text-align: center;
    font-size: 15px;
}

tr .text-align-left{
    text-align: left;
}


/* Section title (like "Admin experience") */
.compare-table .section-title td {
    background: rgb(231, 231, 231);
    font-weight: 600;
    padding: 20px 10px;
    margin-top: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Checkmark style */
.check {
    font-size: 18px;
    color: #0c6b40;
    font-weight: bold;
}

.compare-table tr:last-child td {
    border-bottom: none;
}


.scrool-sticky {
    max-height: 400px;
    overflow:scroll;
}



.scrool-sticky::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari hide scrollbar */
}

tr{
    transition: 0.3s ease; 
}

tr:hover{
    background-color: rgba(161, 125, 229, 0.386);
}






/* ################block question################ */
/* hide checkbox */



/* hide checkbox */
/* #toggle {
    display: none;
} */

.box-faq {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

/* header label with text + icon */
.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* rotate icon when open */
.box-faq input:checked ~ .faq-header .arrow-icon {
    transform: rotate(180deg);
    transition: 0.3s;
}

/* default icon style */
.arrow-icon {
    width: 18px;
    transition: 0.3s;
}

/* hidden box */
.box {
    height: 0;
    overflow: hidden;
    transition: 0.4s ease;
}

/* show box when checked */
.box-faq input:checked ~ .box {
    height: 130px;  
}
.box-faq input:checked ~ .box {
    margin-top: 20px;
}
.box p{
    font-weight: 100;
    font-size: 13px;
}

.box-faq input:checked ~ .faq-header .arrow-icon {
    transform: rotate(180deg);
}

.box-faq{
    max-width: max-content;
    
}
.sub-block-question h1{
    margin-bottom: 30px;
    font-weight: 500;
}

.border-top-fap{
    border-top:1px solid #ccc;

}
.box-faq input{
    display: none;
}
.sub-block-question{
    background-color:#0c6b40;
height: 700px;
    /* border-top:1px solid #ccc; */
}


.body-card p{
    font-size: 16px !important;
}



/* Small devices (landscape phones, 576px to 767px) */

@media (min-width: 973px){
    .box-check-plan input{
        display: none;
    }
    .head-card img{
        display: none;
    }
    /* hidden box */
    .box {
        height: 400px;
        overflow: hidden;
        transition: 0.4s ease;

    }
    .team-join img{
        display: block;
    }
    
}

/* Medium devices (tablets, 768px to 1024px) */
@media (max-width: 972px ){
    .box-check-plan input{
    display: none;
    }
  

    .plan-header {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }


    .arrow-icon {
        width: 18px;
        transition: 0.3s;
    }

    /* hidden box */
    /* .box {
        height: 0;
        overflow: hidden;
        transition: 0.4s ease;
    } */

  
    .box-check-plan input:checked ~ .plan-header .arrow-icon {
        transform: rotate(180deg);
        transition: 0.3s;
    }
    .box-check-plan input:checked ~ .box {
    height: max-content;
    }


}
