
/* Plans&Pricing section styles */
section.head_title{
    text-align: center;
    padding: 4rem 2rem;
    
}
.head_title h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.head_title p{
    font-size: 1.2rem;
    font-weight: 200;
    color: #555;
}



.plans_pricing_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;

    
}

.plans_pricing_card .card{
    border:1px solid #cdcdcd;
    border-radius: 10px;
    width: 500px;


}

.head_card1{
    background-color: rgb(231, 231, 231);
    border-radius: 10px 10px 0 0;
    border-top: 10px solid hsl(275, 75%, 55%);
    padding: 1rem 1.2rem;

}
.head_card2{
    background-color: rgb(231, 231, 231);
    border-radius: 10px 10px 0 0;
    border-top: 10px solid hsl(257, 78%, 57%);
    padding: 1rem 1.2rem;

}
.head_card3{
    background-color: rgb(231, 231, 231);
    border-radius: 10px 10px 0 0;
    border-top: 10px solid hsl(257, 78%, 57%);
    padding: 1rem 1.2rem;
}
.head_card h3{
    color: rgb(66, 62, 62);
}
.head_card p{
    font-weight: 200;
    font-size: 12px;
    margin-top: 5px;
}
.head_card .team_join{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.body_card{
    padding: 2.5rem 1.2rem;
}
.body_card p{
    font-weight:100;
    font-size: medium;
}
.body_card .p_small{
    font-size: 11px;
    font-weight: 400;
    margin-top: 0.8rem;
}
.body_card button{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: hsl(263, 63%, 49%);
    color: white;
    font-size: 1rem;
    cursor: pointer;

}
.body_card button:hover{
    background-color: hsl(275, 75%, 55%);
}

.footer_card{
    display: flex;
    flex-direction: column;
    padding-left: 1.2rem;
    margin-bottom: 2rem;
}
.footer_card div{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
}







.button-section{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    align-items: center;
}
.button-section button{
    display: flex;
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    color: hsl(257, 78%, 57%);
    background: none;
    outline: none;
    margin-top: 3rem;
}
.button-section button:hover{
    background-color: rgba(161, 125, 229, 0.386);
}




.block-companies{
    background-color: rgba(128, 128, 128, 0.121);
    text-align: center;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}
.block-companies-logo{
    display:flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.block-fetch{
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 99;


}

.block-logo{
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}

.block-logo img{
    cursor: pointer;
}

/* hidden by default */
.info-card{
    position: absolute;
    right:0px;
    object-fit: cover;
    top: -1000px;
    width: auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    transform: translateX(10px);
    transition: 0.3s;
}

/* show when hover */
.block-logo:hover .info-card{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    
}