* {
    margin: 0;
    padding: 0;
}

/* hero section */
.hero-section {
    display: flex;
    height: 600px;
    background-image: url("../img/img-teaching/hero-section.webp");
    background-size: cover;
    background-position: center;
}

.tittle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 148px;
    inline-size: 300px;
}

.tittle h1 {
    font-size: 48px;
    font-weight: 550;
}

.tittle p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 8px;
}

.tittle button {
    font-weight: 500;
    color: aliceblue;
    background-color: rgba(92, 2, 171, 0.879);
    padding: 10px 0;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
}

.tittle button:hover {
    background-color: rgb(146, 40, 239);
}

/* reason to teach section  */
.reason-to-teach {
    height: 500px;
    /* border: 1px solid black; */
    padding: 85px 24px;
    margin: 0 86px;
}

.reason-to-teach h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.reason-to-teach .reason-card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}

.reason-card .card {
    width: 320px;
}

.card img {
    width: 100px;
}

.card .reason {
    font-size: 18px;
    font-weight: 550;
    margin-top: 8px;
}

.card p {
    color: rgb(84, 84, 84);
    font-weight: 300;
    margin-top: 8px;

}